<h2>パスワードの再設定</h2>

<p>下記のリンクをクリックして、パスワードを再設定してください。</p>

<% if Rails.env.development? %>
  <%= "http://#{ENV["LOCALHOST"]}/password_resets/#{@user.reset_password_token}" %>
<% elsif Rails.env.production? %>
  <%= "https://#{ENV["SERVICE_DOMAIN"]}/password_resets/#{@user.reset_password_token}" %>
<% end %>
