<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dongrychat - 映画とドラマの話をしよう</title>
<div id="app"></div>
<%= javascript_pack_tag 'entry' %>
<%= stylesheet_pack_tag 'entry' %>


