<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Filmosh - 次のドラマが見つかる場所。</title>
<%= favicon_link_tag asset_path('favicon.png') %>
<div id="app" style="background-color: #121214;"></div>
<%= javascript_pack_tag 'entry' %>
<%= stylesheet_pack_tag 'entry' %>


